.cards_title h1{
    margin-bottom: 3rem;
}
.cards_title h1 span{
    color: #ac9061;
}
.cards_title p{
    color: #ac9061;
}
.buttonGrp{
    color: #bdab8d;
    border: 2px solid #bdab8d;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.buttonGrp:hover{
    background-color: #bdab8d;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s ease-out;
}
.img{
    width: 80%;
}
.home_card{
    border: none;
}

.home_card:hover{
    box-shadow: 0.2px 0.3px 13px 2px rgba(153, 139, 139, 0.424);
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
.spinner_div{
    margin-left: 29rem;
}

@media (max-width:625px){
    .spinner_div{
        margin-left: 2rem;
    }
}