.imgDiv img{
    width: 100% ;
}
.icon_div{
    background-color: #ac9061;
    padding: 20px 10px;
    width: 25%;
    margin-bottom: 25px;
}
.icon_div i{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.cards_home{
    text-align: start;
    margin-top: 6rem;
    border: none;
}

.cards_home:hover{
    background-color: rgb(29, 27, 27);
    color: white;
    transition: 0.5s ease-in-out;
}

.imgDiv{
    display: block;
    overflow: hidden;
}
.imgDiv:hover img{
    display: inline;
    transform: scale(1.2);
    transition: 0.7s ease-in-out;
}

@media (max-width: 667px){
    .cards_home{
        margin-top: 3rem;
    }
}