.cards_title span{
   color: #ac9061;
}
.deleteBtn{
    background-color: transparent;
    padding: 8px 10px;
    color: #ac9061;
    border-radius: 10px;
    border: 2px solid #ac9061;
}
.spinner_div_manage{
    margin-left: 36rem;
}

@media (max-width:625px){
    .spinner_div_manage{
        margin-left: 5rem;
    }
}

@media (max-width: 667px){
    .deleteBtn{
        margin-top: 10px;
    }
    .Shipped_btn{
        margin-top: 10px;
    }
}